<!DOCTYPE html>
<html lang="<%= context.locale %>">
  <head>
    <title><%= t(context.locale, "TheNobleQuran") %></title>
    <%= inline_css('/css/vendor/postman.css') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="<%= t(context.locale, 'meta.index.description') %>">
    <%= erb("partials/favicon.html.erb") %>
    <link
      rel="canonical"
      hreflang="<%= context.locale %>"
      href="https://al-quran.reflectslight.io/<%= context.locale %>/"
    />
    <% context.locales.each do |locale| %>
    <link
      rel="alternate"
      type="text/html"
      hreflang="<%= locale %>"
      href="https://al-quran.reflectslight.io/<%= locale %>/"
     />
    <% end %>
    <%= opengraph(context) %>
  </head>
  <body>
    <div class="postman loader">
      <div>
        <progress value="0" max="100"></progress>
        <span class="percentage">Loading...</span>
      </div>
    </div>
    <div class="root h-full" data-locale="<%= context.locale %>"></div>
    <%= inline_json("/json/i18n.json") %>
    <%= inline_json("/json/surahs.json") %>
    <script src="/js/loaders/surah-index-loader.js"></script>
  </body>
</html>
