<!DOCTYPE html>
<html lang="<%= context.locale %>">
  <head>
    <title> <%= context.surah.name %> </title>
    <%= inline_css('/css/postman.css') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content='<%= t(context.locale, 'meta.stream.description', {surah_name: context.surah.name}) %>'>
    <%= erb("partials/favicon.html.erb") %>
    <link
      rel="canonical"
      hreflang="<%= context.locale %>"
      href="https://al-quran.reflectslight.io/<%= context.locale %>/<%= context.surah.transliterated_name %>/"
    />
    <% context.locales.each do |locale| %>
    <link
        rel="alternate"
        type="text/html"
        hreflang="<%= locale %>"
        href="https://al-quran.reflectslight.io/<%= locale %>/<%= context.surah.transliterated_name %>/"
      />
    <% end %>
    <link rel="icon" href="/favicon.svg">
    <%= opengraph(context) %>
  </head>
  <body>
    <div class="postman loader">
      <div>
        <progress value="0" max="100"></progress>
        <span class="percentage">Loading...</span>
      </div>
    </div>
    <div class="root"
         data-locale="<%= context.locale %>"
         data-surah-id="<%= context.surah.id %>">
    </div>
    <%= inline_json("/json/i18n.json") %>
    <%= inline_json("/json/recitations.json") %>
    <script src="/js/loaders/surah-stream-loader.js"></script>
  </body>
</html>
