<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <title>Al-Quran</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png">
    <%= inline_css('/css/webpackage.scss') %>
  </head>
  <body>
    <div class="webpackage loader">
      <div>
        <progress value="0" max="100"></progress>
        <span class="percentage">Loading...</span>
      </div>
    </div>
    <div class="root" data-locale="<%= locale %>" data-surah-id="<%= surah_id %>"></div>
    <%= inline_json("/i18n.json") %>
    <script src="/js/pages/surah/stream/loader.js"></script>
  </body>
</html>
