<!DOCTYPE html>
<html lang="<%= context.locale %>">
  <head>
    <title> <%= t(context.locale, 'TheNobleQuran') %>: <%= context.surah.name %> </title>
    <%= inline_css('/css/postman.css') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="<%= t(context.locale, 'meta.stream.description') %>">
    <%= opengraph(context) %>
    <link rel="icon" href="/favicon.png">
  </head>
  <body>
    <div class="postman loader">
      <div>
        <progress value="0" max="100"></progress>
        <span class="percentage">Loading...</span>
      </div>
    </div>
    <div class="root"
         data-locale="<%= context.locale %>"
         data-surah-id="<%= context.surah.id %>">
    </div>
    <%= inline_json("/i18n.json") %>
    <%= inline_json("/reciters.json") %>
    <script src="/js/pages/surah/stream/loader.js"></script>
  </body>
</html>
