<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <title><%= t(locale, "TheNobleQuran") %></title>
    <meta name="description" content="<%= t(locale, 'meta.random.description') %>">
    <%= erb("_revision.html.erb") %>
    <%= opengraph(context) %>
    <link
      rel="canonical"
      href="https://<%= hostname %>/<%= locale %>/random/"
    />
    <% locales.each do |locale| %>
    <link
      rel="alternate"
      href="https://<%= hostname %>/<%= locale %>/random/"
      hreflang="<%= locale %>" />
    <% end %>
    <%= erb("_favicon.html.erb") %>
  </head>
  <body>
    <script src="/js/main/random.js"></script>
  </body>
</html>
