<!DOCTYPE html>
<html lang="<%= context.locale %>" dir="<%= context.dir %>">
  <head>
    <title><%= t(context.locale, "TheNobleQuran") %></title>
    <meta name="description" content="<%= t(context.locale, 'meta.random.description') %>">
    <%= erb("_version.html.erb") %>
    <link
      rel="canonical"
      href="<%= base_url %>/<%= context.locale %>/random/"
    />
    <% context.locales.each do |locale| %>
    <link
      rel="alternate"
      href="<%= base_url %>/<%= locale %>/random/"
      hreflang="<%= locale %>" />
    <% end %>
    <%= erb("_favicon.html.erb") %>
  </head>
  <body>
    <script src="/js/main/random.js?v=<%= commit %>"></script>
  </body>
</html>
