<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= t("en", "TheNobleQuran") %></title>
    <%= erb("_revision.html.erb") %>
    <%= opengraph(Ryo(filename: "redirect.html.erb", locale: "en")) %>
    <link
      rel="canonical"
      href="https://<%= hostname %>/en/"
    />
    <% locales.each do |locale| %>
    <link
      rel="alternate"
      href="https://<%= hostname %>/<%= locale %>/"
      hreflang="<%= locale %>" />
    <% end %>
    <%= erb("_favicon.html.erb") %>
  </head>
  <body>
    <script src="/js/main/redirect.js"></script>
  </body>
</html>
