<!DOCTYPE html>
<html lang="<%= locale %>" dir="<%= dir %>">
  <head>
    <title><%= surah.name %></title>
    <%= inline_css('/css/vendor/postman.css') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="<%= t(locale, 'meta.stream.description', {surah_name: surah.name}) %>">
    <%= erb("_revision.html.erb") %>
    <%= opengraph(context) %>
    <link
      rel="canonical"
      href="https://<%= hostname %>/<%= locale %>/<%= surah.slug %>/"
    />
    <% locales.each do |locale| %>
    <link rel="alternate"
          href="https://<%= hostname %>/<%= locale %>/<%= surah.slug %>/"
          hreflang="<%= locale %>" />
    <% end %>
    <%= erb("_favicon.html.erb") %>
  </head>
  <body>
    <%= erb("_postman.html.erb", {locale:}) %>
    <div class="root" data-surah-id="<%= surah.id %>"></div>
    <script src="/js/loaders/surah-stream-loader.js"></script>
  </body>
</html>
