<!DOCTYPE html>
<html lang="<%= context.locale %>" dir="<%= context.dir %>">
  <head>
    <title><%= context.surah.name %></title>
    <%= inline_css('/css/vendor/postman.scss') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta
      name="description"
      content="<%= t(
        context.locale,
        'meta.stream.description',
        {surah_name: context.locale == 'en' ? context.surah.translitName : context.surah.name, surah_number: context.surah.id}
      ) %>"
    >
    <%= erb("_version.html.erb") %>
    <%= erb("_opengraph.html.erb", {file: "surah-stream.html.erb", context:}) %>
    <link
      rel="canonical"
      href="<%= base_url %>/<%= context.locale %>/<%= context.surah.urlName %>/"
    />
    <% context.locales.each do |locale| %>
    <link rel="alternate"
          href="<%= base_url %>/<%= locale %>/<%= context.surah.urlName %>/"
          hreflang="<%= locale %>" />
    <% end %>
    <%= erb("_favicon.html.erb") %>
  </head>
  <body>
    <%= erb("_postman.html.erb", {locale: context.locale, dir: context.dir}) %>
    <div class="app mount root w-full h-full"
         data-surah-id="<%= context.surah.id %>"
         data-audio-base-url="<%= audio_base_url %>"
         data-commit-id="<%= commit %>">
    </div>
    <script src="/js/loaders/surah-stream-loader.js?v=<%= commit %>"></script>
  </body>
</html>
