<!DOCTYPE html>
<html lang="<%= context.locale %>" dir="<%= context.dir %>">
  <head>
    <title><%= context.surah.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="<%= t(context.locale, 'meta.stream.description') %>">
    <%= erb("_version.html.erb") %>
    <link
      rel="canonical"
      href="<%= base_url %>/<%= context.locale %>/<%= context.surah.urlName %>/"
    />
    <% context.locales.each do |locale| %>
    <link rel="alternate"
          href="<%= base_url %>/<%= locale %>/<%= context.surah.urlName %>/"
          hreflang="<%= locale %>" />
    <% end %>
    <%= erb("_favicon.html.erb") %>
  </head>
  <body>
    <div class="root"
         data-surah-id="<%= context.surah.id %>"
         data-audio-base-url="<%= audio_base_url %>">
    </div>
    <%= inline_json("/json/%{locale}/%{surah_id}/info.json", context:, class_name: "info") %>
    <%= inline_json("/json/%{locale}/%{surah_id}/surah.json", context:, class_name: "surah") %>
    <%= inline_json("/json/durations/%{surah_id}.json", context:, class_name: "durations") %>
    <script src="/js/main/vendor.js?v=<%= commit %>"></script>
    <script src="/js/main/surah-stream.js?v=<%= commit %>"></script>
  </body>
</html>
