<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <title><%= t(locale, "TheNobleQuran") %></title>
    <%= inline_css('/css/vendor/postman.css') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="<%= t(locale, 'meta.index.description') %>">
    <%= erb("_revision.html.erb") %>
    <%= opengraph(context) %>
    <link
      rel="canonical"
      href="https://<%= hostname %>/<%= locale %>/"
    />
    <% locales.each do |locale| %>
    <link rel="alternate"
          href="https://<%= hostname %>/<%= locale %>/"
          hreflang="<%= locale %>" />
    <% end %>
    <%= erb("_favicon.html.erb") %>
  </head>
  <body>
    <div class="postman loader">
      <div>
        <progress value="0" max="100"></progress>
        <span class="percentage">Loading...</span>
      </div>
    </div>
    <div class="root h-full"></div>
    <script src="/js/loaders/surah-index-loader.js"></script>
  </body>
</html>
