<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <title><%= surah.name %></title>
    <%= inline_css('/css/vendor/postman.css') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content='<%= t(locale, 'meta.stream.description', {surah_name: surah.name}) %>'>
    <link
      rel="canonical"
      href="https://al-quran.reflectslight.io/<%= locale %>/<%= surah.slug %>/"
    />
    <% locales.each do |locale| %>
    <link rel="alternate"
          href="https://al-quran.reflectslight.io/<%= locale %>/<%= surah.slug %>/"
          hreflang="<%= locale %>" />
    <% end %>
    <%= erb("_favicon.html.erb") %>
    <%= opengraph(context) %>
  </head>
  <body>
    <div class="postman loader">
      <div>
        <progress value="0" max="100"></progress>
        <span class="percentage">Loading...</span>
      </div>
    </div>
    <div class="root"
         data-locale="<%= locale %>"
         data-surah-id="<%= surah.id %>">
    </div>
    <%= inline_json("/json/durations/alafasy/#{surah.id}.json", class_name: 'durations') %>
    <script src="/js/loaders/surah-stream-loader.js"></script>
  </body>
</html>
