<!DOCTYPE html>
<html lang="<%= context.locale %>" dir="<%= context.dir %>">
  <head>
    <title><%= t(context.locale, "TheNobleQuran") %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description" content="<%= t(context.locale, 'meta.index.description') %>">
    <%= erb("_version.html.erb") %>
    <link
      rel="canonical"
      href="<%= base_url %>/<%= context.locale %>/"
      />
    <% context.locales.each do |locale| %>
    <link rel="alternate"
          href="<%= base_url %>/<%= locale %>/"
          hreflang="<%= locale %>" />
    <% end %>
    <%= erb("_favicon.html.erb") %>
  </head>
  <body>
    <div class="root h-full"></div>
    <script type="text/javascript" src="/js/main/vendor.js?v=<%= commit %>"></script>
    <script type="text/javascript" src="/js/main/surah-index.js?v=<%= commit %>"></script>
  </body>
</html>
